@font-face {
    font-family: 'B Yekan+';
    src: url('BYekan.eot');
    src: url('BYekan.eot?#iefix') format('embedded-opentype'),
        url('BYekan.woff2') format('woff2'),
        url('BYekan.woff') format('woff'),
        url('BYekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    background-color: black;
    color: #FFFFFF;
    font-family:'B Yekan+';
    
}


nav{
    display: flex;
    font-size:16px;
    
}
nav div{
    margin-right:7px ;
    margin-top:20px ;
    padding-inline:20px;
    padding-top: 7px;
}

#logo-namava{

margin: 22px 20px 0 18px;
padding-top: 8px;

}



#article-1{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 50px;
    
}

#section-1{
    padding-inline: 10px;
}

#article-p-1{
    font-size: 18px;
    color: #AAAAAA;
    width: 460px;
    height: 196px;
    font-weight: 350;
    margin-top: 24px;
    
}

#article-h1-1{
    font-size: 20px;
    color: #FFFFFF;

}

#frame-3{
    width: 580px;
    height: 306px;
  
}



#article-2{
    display: flex;
    margin-top: 150px;
    gap: 150px;
    justify-content: center;
}   

.container{
    display: flex;
}

#section-2{
    font-size: 14px;
    font-weight: 400;
}

#section-3{
    font-size: 14px;
    font-weight: 400;
}

#price-1{
    text-decoration:line-through;
    text-decoration-color: #D95C5C;
    text-decoration-thickness:2px;
    font-size: 15px;


}

#price-2{
    text-decoration:line-through;
    text-decoration-color: #D95C5C;
    text-decoration-thickness:2px;
    font-size: 15px;

}

.ticket{
    width: 240px;
    height: 100px;
    
}

.ticket-label{
    text-align: center;
    font-size: 14px;

}

#total-price{
    width: 380px;
    height: 220px;
    position: relative;
}

#frame-total-price{
    width: 380px;
    height: 148px;
    position: relative;
}

.container-info{
    display: flex;
    gap: 145px;
    position: absolute;
    top: 5px;
    background-color: #121212;
}

.info{
justify-content: center;
text-align: start;
padding-right: 20px;
top: 0px;
background-color: #121212;

}

.value{
    justify-content: center;
    text-align: end;
    background-color: #121212;

}

.digikala-container{
    position: relative;
}
#digikala-frame{
    width: 380px;
    height: 42px;
    margin-top: 10px;
    position: relative;
}
#digikala{
    width: 84px;
    height: 20px;
    position: absolute;
    background-color: #FFFFFF;
    top: 21px;
    right: 181px;
}

.first-price-info{
    font-size: 16px;
    background-color: #121212;


}

.off-info{
    font-size: 12px;
    width: 64px;
    height: 23px;
    background-color: #D95C5C;
    display:flex;
    justify-content: center;
    text-align: center;
    border-radius: 5px;

    
}

.price-for-you-info{
    font-size: 16px;
    background-color: #121212;

}

.first-price{
    font-size: 15px;
    text-decoration:line-through;
    text-decoration-color: #D95C5C;
    text-decoration-thickness:2px;
    background-color: #121212;


}

.off{

    font-size: 15px;
    background-color: #121212;


}

.price-for-you{
    font-size: 17px;
    background-color: #121212;

}


#article-3{
    display: block;
    margin-top: 100px;
}

#article-3-1,#article-3-2 ,#article-3-3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



#namava-tv-img{

    width: 780px;
    height: 396px;
}

#intro-namava-tv{
    font-size: 20px;
    color: #FFFFFF;
}

#explain-namava-tv{
    font-size: 16px;
    color: #AAAAAA;
    width: 780px;
    height: 84px;
}

#article-4{
display: flex;
margin-top: 100px;
justify-content: center;
align-items: center;
}

#article-4-1{
    
    width: 980px;
    height: 550px;
}




@media(max-width:1280px){
    nav{
        display: flex;
        font-size:14px;
        
        
    }
    nav div{
        margin-right:7px ;
        margin-top:20px ;
        padding-inline:10px;
        padding-top: 7px;
    }
    
    #logo-namava{
    
    margin: 22px 20px 0 18px;
    padding-top: 8px;
    
    }

    

    #article-1{
        display: flex;
        margin-top: 50px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        
    }

    
    #section-1{
        padding-inline: 10px;
        align-items: center;
        justify-content: center;
        
        
    }
    
    #article-p-1{
        font-size: 16px;
        color: #AAAAAA;
        width: 560px;
        height: 144px;
        font-weight: 350;
        margin-top: 24px;
        text-align: center;
        
    }
    
    #article-h1-1{
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
    
    }

    #aside-1{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #frame-3{
        width: 640px;
        height: 338px;
    }

    


#article-2{
    display: flex;
    margin-top: 150px;
    gap: 50px;
    justify-content: center;
}   

.container{
    display: block;
}

#section-2{
    font-size: 14px;
    font-weight: 400;
}

#section-3{
    font-size: 14px;
    font-weight: 400;
}

#price-1{
    text-decoration:line-through;
    text-decoration-color: #D95C5C;
    text-decoration-thickness:2px;
    font-size: 15px;


}

#price-2{
    text-decoration:line-through;
    text-decoration-color: #D95C5C;
    text-decoration-thickness:2px;
    font-size: 15px;

}

.ticket{
    width: 150px;
    height: 61px;
    
}

.ticket-label{
    text-align: center;
    font-size: 12px;

}

#total-price{
    width: 380px;
    height: 220px;
    position: relative;
    margin-top: 50px;
}

#frame-total-price{
    width: 368px;
    height: 138px;
    position: relative;
}

.container-info{
    display: flex;
    gap: 130px;
    position: absolute;
    top: 5px;
    background-color: #121212;
}

.info{
justify-content: center;
text-align: start;
padding-right: 20px;
top: 0px;
background-color: #121212;

}

.value{
    justify-content: center;
    text-align: end;
    background-color: #121212;

}

.digikala-container{
    position: relative;
}
#digikala-frame{
    width: 368px;
    height: 42px;
    margin-top: 10px;
    position: relative;
}
#digikala{
    width: 80px;
    height: 19px;
    position: absolute;
    background-color: #FFFFFF;
    top: 21px;
    right: 170px;
}

.first-price-info{
    font-size: 14px;
    background-color: #121212;


}

.off-info{
    font-size: 12px;
    width: 64px;
    height: 23px;
    background-color: #D95C5C;
    display:flex;
    justify-content: center;
    text-align: center;
    border-radius: 5px;

    
}

.price-for-you-info{
    font-size: 14px;
    background-color: #121212;

}

.first-price{
    font-size: 14px;
    text-decoration:line-through;
    text-decoration-color: #D95C5C;
    text-decoration-thickness:2px;
    background-color: #121212;


}

.off{

    font-size: 14px;
    background-color: #121212;


}

.price-for-you{
    font-size: 15px;
    background-color: #121212;

}

#article-3{
    display: block;
    margin-top: 200px;
}

#article-3-1,#article-3-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#article-3-3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



#namava-tv-img{

    width: 560px;
    height: 285px;
}

#intro-namava-tv{
    font-size: 16px;
    color: #FFFFFF;
}

#explain-namava-tv{
    font-size: 14px;
    color: #AAAAAA;
    width: 640px;
                                    
} 

#article-4{
display: flex;
margin-top: 100px;
justify-content: center;
align-items: center;
}

#article-4-1{
    
    width: 640px;
    height: 360px;
}
 
    
}






@media(max-width:639px){
    nav{
        display: flex;
        font-size:12px;
    }
    nav div{

        display: flex;
        margin-right:7px ;
        margin-top:20px ;
        padding-inline:3px;
        padding-top: 7px;
        
    }
    
    #logo-namava{
    margin: 22px 20px 0 18px;
    padding-top: 8px;
    }

    #article-1{
        display: flex;
        margin-top: 50px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        
    }
    
    #section-1{
        padding-inline: 10px;
        justify-content: center;
        align-items: center;
        
    }
    
    #article-p-1{
        font-size: 13px;
        color: #AAAAAA;
        width: 331px;
        height: 168px;
        font-weight: 350;
        margin-top: 24px;
        text-align: center;
        
    }
    
    #article-h1-1{
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
    
    }

    #aside-1{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #frame-3{
        width: 360px;
        height: 190px;
    }

  


    #article-2{
        display: block;
        margin-top: 40px;
        gap: 50px;
        
        
    }   
    
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #section-2{
        font-size: 14px;
        font-weight: 400;
    }
    
    #section-3{
        font-size: 14px;
        font-weight: 400;
    }
    
    #price-1{
        text-decoration:line-through;
        text-decoration-color: #D95C5C;
        text-decoration-thickness:2px;
        font-size: 15px;
    }
    
    #price-2{
        text-decoration:line-through;
        text-decoration-color: #D95C5C;
        text-decoration-thickness:2px;
        font-size: 15px;
    
    }
    
    .ticket{
        width: 170px;
        height: 70px;
        
    }
    
    .ticket-label{
        text-align: center;
        font-size: 14px;
    
    }
    
    #total-price-container{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    #total-price{
        
        width: 332px;
        height: 138px;
        position: relative;
        
        
    }
    
    #frame-total-price{
        width: 332px;
        height: 138px;
        position: relative;
        /* margin-right: 16px; */
        
    }
    
    .container-info{
        display: flex;
        gap: 100px;
        position: absolute;
        top: 5px;
        width: 300px;
        height: 100px;
        margin-right: 10px;
        
        
        
    }
    
    .info{
    justify-content: center;
    text-align: start;
    top: 0px;
    
    
    
    
    }
    
    .value{
        justify-content: center;
        text-align: end;
        background-color: #121212;
    
    }
    
    .digikala-container{
        position: relative;
    }
    #digikala-frame{
        width: 332px;
        height: 42px;
        margin-top: 10px;
        position: relative;
        /* margin-right: 16px; */
    }
    #digikala{
        width: 70px;
        height: 17px;
        position: absolute;
        background-color: #FFFFFF;
        top: 21px;
        right: 170px;
        /* margin-right: 16px; */
    }
    
    .first-price-info{
        font-size: 14px;
        background-color: #121212;
    
    
    }
    
    .off-info{
        font-size: 12px;
        width: 64px;
        height: 23px;
        background-color: #D95C5C;
        display:flex;
        justify-content: center;
        text-align: center;
        border-radius: 5px;
    
        
    }
    
    .price-for-you-info{
        font-size: 14px;
        background-color: #121212;
    
    }
    
    .first-price{
        font-size: 14px;
        text-decoration:line-through;
        text-decoration-color: #D95C5C;
        text-decoration-thickness:2px;
        background-color: #121212;
    
    
    }
    
    .off{
    
        font-size: 14px;
        background-color: #121212;
    
    
    }
    
    .price-for-you{
        font-size: 15px;
        background-color: #121212;
    
    }    

    #article-3{
        display: block;
        margin-top: 150px;
    }
    
    #article-3-1,#article-3-2 ,#article-3-3{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    
    
    #namava-tv-img{
    
        width: 360px;
        height: 185px;
    }
    
    #intro-namava-tv{
        font-size: 14px;
        color: #FFFFFF;
    }
    
    #explain-namava-tv{
        font-size: 12px;
        color: #AAAAAA;
        width: 640px;
        
    } 

    #article-4{
        display: flex;  
        justify-content: center;
        align-items: center;
        }
        
    #article-4-1{
            
            width: 360px;
            height: 203px;
    }
}